@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --yellow: #ffd15b;
  --gray: #7a7a7a;
}

header {
  height: 667px;
  width: 100%;
  background-image: url("./assets/photos/imagebg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header div {
  height: 100%;
}

header div h2 {
  color: var(--yellow);
  font-family: "Anton", sans-serif;
}

header div label {
  width: 70%;
}

header div label {
  position: relative;
}

header div label img {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url("./assets/logo/iconSearch.svg");
  background-color: black;
  border-radius: 11px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

header div input {
  color: var(--gray);
  width: 100%;
  border: none;
  outline: none;
}
