@mixin customSelectAnimation {
  // Définir les propriétés de l'animation ici
  transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.custom-select {
  // Styles du select personnalisé ici
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 8px;
  width: 200px;
  cursor: pointer;
  position: relative;

  .selected-option {
    display: block;
  }

  .options {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;

    & li {
      padding: 8px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  // Appliquer l'animation en utilisant le mixin
  &.open {
    @include customSelectAnimation;
    max-height: 200px; // Ajuster la hauteur souhaitée ici
    opacity: 1;
  }
}
